/*  powered by: Franklin Bolivar, noviembre-2021 */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

body {
  background: white;
  font-family: 'Poppins', sans-serif;
  line-height: 19px;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

#floating-images {
  display: none;
}

section {
  width: 100%;
  min-height: 100vh;
  padding-top: 70px;
}

#seccion__dashboard {
  display: none;
}

#seccion__inicio {
  background: url('../images/inicio.jpg') no-repeat top center;
  background-size: 100% 100%;
  z-index: 9999999;
}

.scroll-container {
  width: 95%;
  height: 400px;
  overflow: auto;
}

.loading {
  display: none;
}

.loading.active {
  display: block;
  font-size: 1rem;
  text-align: center;
  margin: 10px 0;
  color: #9132bd;
  font-weight: bold;
}
.load-more {
  display: none;
}

#tabla-paciente thead tr {
  position: sticky;
  top: 0px;
  z-index: 9;
}
#usuario {
  position: relative;
  top: -30px;
  font-size: 1rem;
  max-width: 100px;
  color: blanchedalmond;
}

#sesion {
  position: absolute;
  width: 100%;
  display: flex;
  top: 200px;
  justify-content: center;
}

#form-sesion a {
  font-size: 10px;
  color: rgb(207, 206, 204);
}

.version {
  font-size: 10px;
  color: rgb(207, 206, 204);
  margin-top: 10px;
}

.login__container {
  position: relative;
  max-width: 300px;
  width: 100%;
  max-height: 300px;
  height: 100%;
  background: #9132bd;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.login__container .title {
  text-align: center;
  position: relative;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 35px;
}

.btn {
  display: block;
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 1rem;
  font-weight: bolder;
  color: #0361df;
  line-height: 1;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  margin: 20px 0px;
}

.btn:hover {
  color: orangered;
}

/* Efectos 2022 */
.pulsate-bck {
  -webkit-animation: pulsate-bck 0.7s ease-in-out infinite both;
  animation: pulsate-bck 0.7s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
.vibrate-1 {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/* Fin de Efectos 2022  */

/* CUSTOM FEBB INPUTS */
.input__div {
  height: 35px;
  width: 100%;
  margin: 20px 0px;
  position: relative;
}

.input__div.pw {
  margin-bottom: 0;
}

.input__div.pw a {
  font-size: 12px;
  color: bisque;
}

.input__div input {
  width: 100%;
  outline: none;
  font-size: 18px;
  padding: 10px 5px 0px 15px;
  border: none;
  border-bottom: 1px solid white;
  background-color: #9132bd;
  transition: all 0.3s ease;
  color: antiquewhite;
}

.input__div input:focus {
  border-color: black;
}

.input__div label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.input__div input:focus ~ label,
.input__div input:valid ~ label {
  top: 0%;
  font-size: 12px;
  font-weight: bold;
  color: black;
  transform: translateY(-50%);
}

/* FIN DE CUSTOM FEBB INPUTS */

/* ----- MY CUSTOM LOADING SPINNER  */

.myspinner-container {
  /* display: flex; */
  margin: 0 auto;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  top: 200px;
  left: calc(100% / 2 - 150px / 2);
  display: none;
  z-index: 9;
}

.myspinner-sector {
  border-radius: 50%;
  position: absolute;
  width: 110%;
  height: 110%;
  border: 15px solid transparent;
  border-top: 15px solid teal;
  mix-blend-mode: overlay;
}

.myspinner-text {
  font-size: 1rem;
  text-align: center;
}

.myspinner-text::before {
  color: brown;
  font-weight: 800;
  content: attr(data-spintext);
}

.myspinner-sector-blue {
  animation: myRotate 1s ease-out infinite;
  border-top: 15px solid #c395d8;
}

.myspinner-sector-red {
  animation: myRotate 1.5s ease-in infinite;
  border-top: 15px solid aqua;
}

.myspinner-sector-green {
  animation: myRotate 0.5s ease-in-out infinite;
  border-top: 15px solid #9132bd;
}

@keyframes myRotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes myLoading {
  0%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.1;
  }
}

/* ----- END OF MY CUSTOM LOADING SPINNER  */

/*-------- NAV BAR -------------*/
.img-logo {
  padding: 2px;
  border-radius: 50%;
  background-color: white;
  margin: 15px;
  pointer-events: all;
}

nav {
  height: 70px;
  width: 100%;
  background-color: #9132bd;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

label.logo {
  color: black;
  font-size: 35px;
  font-weight: bold;
  padding: 0 25px;
}

nav ul {
  float: right;
  margin-right: 40px;
}
nav li {
  display: inline-block;
}

nav ul li a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  margin: 0 10px;
  display: inline-block;
  pointer-events: all;
}
nav a:hover {
  transition: 0.2s;
  color: rgb(255, 94, 0);
}

nav #hamburguesa {
  height: 40px;
  cursor: pointer;
  float: right;
  margin: 8px 40px;
  display: none;
}

/*-------- FIN NAV BAR -------------*/

/* TABLA RESPONSIVE PACIENTES */

.tabla-container {
  text-align: center;
}

.table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.table td,
.table th {
  padding: 5px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 1rem;
  vertical-align: middle;
  min-height: 40px;
}

.table th {
  background-color: #9132bd;
  color: white;
}

.table tbody tr:nth-child(even) {
  background-color: #f5f0f0e7;
}
table.highlight > tbody > tr:hover {
  background-color: #4dd0e1;
}

table.vhighlight > tbody > tr > td:hover {
  background-color: #4dd0e1;
}

#td-id-hidden,
#th-id-hidden,
#td-titulo {
  display: none;
}

.info-container {
  position: relative;
  padding-bottom: 20px;
}
#pacientes-tbody tr td:nth-child(6) {
  width: 150px;
}

button.volver-info {
  position: absolute;
  width: 50px;
  height: 25px;
  font-size: 13px;
  padding: 5px;
  top: 10px;
  right: 185px;
  z-index: 9;
  background-color: #0361df;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

/* FIN DE TABLA PACIENTES */

/*INPUT SEARCH CUSTOM DE FEBB   */
#buscador {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.search__div {
  position: relative;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  transition: all ease 0.5s;
  overflow: hidden;
  margin-bottom: 5px;
  margin-right: 10px;
  display: none;
}

.search__input {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 1.2rem;
  height: 100%;
  width: 0px;
  transition: all ease 0.5s;
  pointer-events: all;
  margin: 0;
  line-height: 40px;
  padding-left: 15px;
}

.search__div:hover > .search__input {
  width: 175px;
}

.search__div:hover {
  width: 225px;
  background-color: #0361df;
}

.search__input::placeholder {
  color: rgb(167, 164, 164);
  font-size: 1rem;
}

.td-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  pointer-events: all;
  cursor: pointer;
  margin-left: 10px;
}

.td-btn.info {
  top: 10px;
}

.td-btn.odo {
  top: -5px;
}

.td-btn.offset {
  top: 5px;
}

.symbol {
  top: -2px;
  left: 5px;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: black;
  pointer-events: none;
}

.img-btn {
  width: 20px;
  height: 27px;
  pointer-events: none;
}

/* IONICS */

.person-add {
  font-size: 42px;
  color: #631488;
  margin-right: 15px;
}

.person-add:hover,
.lupa:hover {
  color: aqua;
}

#btn-excel {
  border: none;
}

.lupa {
  font-size: 32px;
  color: #631488;
  font-weight: bold;
  position: absolute;
  cursor: pointer;
  top: 0px;
  right: 2px;
  padding: 5px;
}

.btn-menu-table {
  font-size: 32px;
  color: #631488;
  font-weight: bold;
  pointer-events: none;
}
.btn-menu-table:hover {
  color: aqua;
}

.btn-menu-table.info {
  position: relative;
  font-size: 44px;
  top: -1px;
  right: 1px;
}
/* FIN DE INPUT SEARCH CUSTOM DE FEBB   */

/*==========================
  MY CUSTOM TOOLTIPS 
============================*/
.t-tip {
  position: relative;
}
.t-tip:before {
  position: absolute;
  z-index: 99;
  display: none;
  padding: 0.3rem;
  font-size: 12px;
  min-width: 90px;
  max-width: fit-content;
  border-radius: 0.3rem;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.9;
  color: white;
  content: attr(tip);
  text-align: center;
}
.t-tip:after {
  position: absolute;
  z-index: 1;
  display: none;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  content: '';
}
.t-tip:hover:before,
.t-tip:hover:after {
  display: inline-block;
}

.t-tip.top:before {
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
}
.t-tip.top:after {
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  border-bottom-width: 0;
  border-top-color: rgba(0, 0, 0, 0.8);
}

.t-tip.bottom:before {
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
}
.t-tip.bottom:after {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-top-width: 0;
  border-bottom-color: rgba(0, 0, 0, 0.8);
}

.t-tip.left:before {
  top: 50%;
  right: calc(100% + 10px);
  transform: translateY(-50%);
}
.t-tip.left:after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translateY(-50%);
  border-right-width: 0;
  border-left-color: rgba(0, 0, 0, 0.8);
}

/*left para mover el cuadro de contenido */
.t-tip.right:before {
  top: 50%;
  left: calc(100% + 10px);
  transform: translateY(-50%);
}
/*left para mover la flecha */
.t-tip.right:after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translateY(-50%);
  border-left-width: 0;
  border-right-color: rgba(0, 0, 0, 0.8);
}

.excel-container {
  display: none;
}

/*Desplegar Informacion de tabla Verticamente por Defecto */

table.info {
  width: 65%;
}

.table.info thead {
  display: none;
}

.table.info,
.table.info tbody,
.table.info tr,
.table.info td {
  display: block;
}
.table.info tr {
  margin-bottom: 15px;
}

#td-titulo-info {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
  background-color: #9132bd;
}

.table.info td {
  text-align: right;
  position: relative;
  padding: 10px 15px 10px 220px;
  word-wrap: break-word;
}

.table.info td::before {
  content: attr(data-label);
  position: absolute;
  left: 0;
  /* width: 50%; */
  padding-left: 15px;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: black;
}

/*FIN DE Desplegar Informacion de tabla Verticamente por Defecto */

/*==========================
  SECTION AGENDA TIMELINE 
============================*/

.timeline {
  color: #fff;
  overflow-x: hidden;
  background-color: #00cdff;
}
.horario {
  width: 100%;
  z-index: 999;
  padding-top: 30px;
}
#listaHoras {
  margin: 0 auto;
  width: 80%;
}

#listaHoras > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}

#listaHoras > div > span {
  color: orange;
  font-weight: bold;
}

.timeline ul {
  height: auto;
  min-height: 100vh;
  z-index: 1;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 20px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: inherit;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  z-index: 1;
  vertical-align: middle;
}

.timeline ul li.in-view::after {
  content: 'cita';
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timeline ul li div {
  column-gap: 7px;
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: white;
  color: black;
  cursor: pointer;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 27px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #fff transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #fff;
}

/* EFFECTS */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
  bottom: -20px;
}

.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.timeline-heptagon ul li::after {
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}

.btn-eliminar-cita {
  display: block;
  padding: 10px;
  background-color: #9132bd;
  border-radius: 5px;
  color: #fff;
  border: none;
  margin-top: 10px;
  font-weight: bold;
}

.titulo-horas {
  font-size: 11px;
  width: 100%;
  text-align: center;
}

.header-cita {
  all: initial;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding-bottom: 15px;
}

#id-cita-eliminar {
  display: none;
}

h3 {
  font-weight: 400;
  padding-bottom: 5px;
  font-size: 1rem;
}

.bold {
  font-weight: bold;
}

.btn-bloquear {
  padding: 5px;
  background-color: #ff7979;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

/*==========================
  FIN DE SECTION AGENDA  
============================*/

/*==========================
  SIDE PANEL HORARIO AGENDA 
============================*/

.nav-toggle {
  margin: 15px;
  cursor: pointer;
  position: absolute;
  z-index: 499;
}

.nav-toggle .clock-icon {
  color: black;
}

/*nav*/
.nav-overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 499;
  background-color: transparent;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
}
.nav-overlay.open {
  transform: translateX(0%);
}

.nav {
  position: fixed;
  left: 0;
  top: 70px;
  height: 100%;
  width: 195px;
  z-index: 500;
  transform: translateX(-190px);
  overflow-y: auto;
  float: right;
  opacity: 0.9;
  background-color: black;
}
.nav .head {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  z-index: 501;
  width: 100%;
  line-height: 1.25rem;
  padding: 20px;
}

.nav .head > p {
  color: orange;
}

.nav .head > h4 {
  font-size: 12px;
  color: orange;
}

.nav .head > .time-icon {
  color: orange;
}

.nav.open {
  transform: translateX(0px);
}

.nav .close {
  position: absolute;
  width: 35px;
  right: 0;
  top: 0;
  font-size: 32px;
  color: #dddddd;
  cursor: pointer;
}

.nav .close:hover {
  color: #ff7979;
}

/*DASHBOARD  */

main {
  min-height: 95vh;
  padding: 1rem;
  color: #201f2b;
}

.dash-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
  grid-template-rows: auto;
  gap: 0.5rem;
  grid-template-areas:
    'total1 total2 total3 total4 total4'
    'detail detail detail customer customer'
    'detail detail detail customer customer'
    'foot foot foot foot foot';
}

h2 {
  font-size: 18px;
  padding: 15px 0;
  color: #201f2b;
}

.dash-card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
}

.dash-card.detail {
  padding: 0;
}

.total1 {
  grid-area: total1;
  background-color: #2d972e;
  color: #fff;
}

.total2 {
  grid-area: total2;
  background-color: aqua;
  color: #fff;
}

.total3 {
  grid-area: total3;
  background-color: #9132bd;
  color: #fff;
}

.total4 {
  grid-area: total4;
  background-color: #15a1fe;
  color: #fff;
}

.detail {
  grid-area: detail;
  overflow-x: auto;
}

.customer {
  grid-area: customer;
  overflow-x: auto;
}

.foot {
  grid-area: foot;
  background-color: black;
  color: #b4b4b9;
  text-align: center;
  font-size: 12px;
  padding: 5px;
}

.dash-info {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.dash-info-detail h2 {
  font-size: 25px;
}

.dash-info-detail p {
  font-size: 14px;
}

.dash-info-image {
  font-size: 40px;
  color: #2d2b98;
}

.dash-detail-header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.dash-detail-header h2 {
  font-size: 20px;
  padding: 0px 0 2px 0;
}

.td-id-hidden,
#th-id-hidden {
  display: none;
}

.detail table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  table-layout: auto;
}
td {
  word-wrap: break-word;
  display: revert;
}

.ocultar-td {
  display: none;
}

.detail table tbody tr:nth-child(even) {
  background-color: #e5e2e2;
}

.detail table th {
  background-color: #15a1fe;
}

.detail table th,
.detail table td {
  padding: 0.2rem;
  text-align: center;
  font-size: 14px;
}

.detail table tr:hover {
  background-color: #f2f2f2;
}

.detail td i {
  width: 30px;
  height: 30px;
  padding: 8px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 3px;
}

.td-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}

.dash-status {
  padding: 0.3rem 0.5rem;
  border-radius: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.7rem;
}

.onprogress {
  background-color: #fff2d7;
  color: #ffa705;
}

.confirmed {
  background-color: #d7effc;
  color: #15a1fe;
}

.fullfilled {
  background-color: #dcedde;
  color: #37aa38;
}

.dash-customer-wrapper {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-auto-flow: column;
  margin: 10px 0;
  align-items: flex-start;
  gap: 5px;
}

.dash-card.customer {
  background-color: #9132bd;
}

.dash-card.customer h2 {
  padding-top: 0;
  text-align: center;
  font-size: 15px;
}
.dash-card.customer h1 {
  text-align: center;
}

.dash-customer-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.dash-customer-name,
.dash-customer-date {
  font-size: 0.9rem;
}

.dash-customer-date {
  text-align: left;
  color: #9092a9;
}

.fa-search {
  background: #ffa705;
  pointer-events: all;
}

#btn-control-paciente {
  pointer-events: all;
}

/************************** MEDIA QUERIES *****************************************************/
/* DASHBOARD MADE RESPONSIVE YO! */

@media screen and (max-width: 980px) {
  .dash-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'total1 total2'
      'total3 total4'
      'detail detail'
      'customer customer';
  }
}

@media (max-width: 760px) {
  .scroll-container {
    width: 100%;
    height: 600px;
    overflow: auto;
  }

  #tabla-paciente thead tr {
    position: static;
  }
  #pacientes-tbody tr td:nth-child(6) {
    width: 100%;
  }

  nav #hamburguesa {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    top: 70px;
    left: -100%;
    margin: 0;
    text-align: center;
    transition: all 0.5s ease-in-out;
    opacity: 0.7;
  }

  nav a {
    color: black;
    font-size: 1.5rem;
    margin: 0;
    z-index: 99;
  }

  nav ul.mostrar {
    left: 0;
  }

  nav li {
    display: block;
    margin: 20px 0px;
  }

  #usuario {
    font-size: 12px;
  }

  .table.info {
    width: 95%;
  }

  .tabla-container {
    padding: 10px;
  }

  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
  }
  .table tr {
    margin-bottom: 15px;
  }

  #td-titulo {
    display: block;
    text-align: center;
    font-size: 25px;
    color: black;
    background-color: #9132bd;
    font-weight: bold;
    padding-top: 8px;
  }
  .table td {
    text-align: right;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }

  .table.info td::before {
    width: 50%;
    font-size: 12px;
  }

  .table.info td {
    padding: 5px 5px 5px 180px;
    font-size: 12px;
    word-wrap: break-word;
  }

  button.volver-info {
    right: 20px;
  }
  #td-titulo-info {
    font-size: 15px;
  }
  #buscador {
    margin-bottom: 15px;
  }
  .td-btn {
    margin-left: 10px;
  }
  #btn-eliminar-paciente {
    margin-right: 15px;
  }

  .timeline ul li {
    margin-left: 40px;
    padding-top: 60px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #fff transparent transparent;
  }

  .header-cita {
    font-size: 12px;
  }

  h3 {
    font-size: 12px;
    font-weight: 500;
  }

  .nav-toggle {
    margin: 15px 15px 15px 5px;
  }
  .dash-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'total1'
      'total2'
      'total3'
      'total4'
      'detail'
      'customer';
  }

  .detail table th,
  .detail table td {
    padding: 0.2rem 0;
    text-align: center;
    font-size: 8px;
  }
}

/*------FIN DE MEDIA QUERIES -------*/
